body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
	margin:0px;
	padding:0px;
    color: #444444;
    background:#efefef;
}

h1, h2, h3, h4, h5{
	font-family: "Poppins", sans-serifs;
}

a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

a:hover , a:active, a:focus {
	text-decoration: none;
	outline:none;
	
}
.btn:focus, .btn:hover {
    color:#fff;
    text-decoration: none;
}
/*-------------------unnati mitra start------------------------*/

.for_green{
	width: 100%;
	display: block;
	position: fixed;
	z-index: -2;
}
.for_green::after{
	width: 100%;
	position: absolute;
	content: "";
	top: 0px;
	background:#1d618e;
	height: 200px;
	z-index: -99;
}
.small_container{
	-webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: none;
    flex: none;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    min-height: 39px;
    width: 1050px;
	margin:20px auto;
}
.logo{
	width:100%;
	height:auto;
	margin:20px 0;
	float:left;
	color:#fff;
}
.inner_space{
	width:100%;
	float:left;
	background:#fff;
	padding:17% 15px;
	box-shadow:1px 3px 5px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow:1px 3px 5px 4px rgba(0,0,0,0.1);
	-moz-box-shadow:1px 3px 5px 4px rgba(0,0,0,0.1);
	-o-box-shadow:1px 3px 5px 4px rgba(0,0,0,0.1);
}
.inner_space1{
	width:100%;
	float:left;
	background:#fff;
	padding:10px 15px;
	box-shadow:1px 3px 5px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow:1px 3px 5px 4px rgba(0,0,0,0.1);
	-moz-box-shadow:1px 3px 5px 4px rgba(0,0,0,0.1);
	-o-box-shadow:1px 3px 5px 4px rgba(0,0,0,0.1);
}
.inner_container{
	width:100%;
	float:left;
}
.content_left{
	max-width:550px;
	float:left;
}
.content_left h4{
	font-weight:300;
	font-size:28px;
	font-family: "Poppins", sans-serif;
}
.content_left ul{
	width:100%;
	float:left;
}
.content_left li{
	width:100%;
	text-decoration:none;
	font-size:18px;
	font-weight:200;
	color:#656565;
	margin-top:20px;
	list-style-type: decimal;
}

.mt_10{
	margin-top:10px;
}
.Qr_code{
	width:100%;
}

.grey_box{
background:#efefef;
display:block;
text-align:center;
padding: 15px 0px;
margin-bottom:20px;
}

.content_area{
	width:100%;
	float:left;
}
.block{
	display:block;
}
.blue_btn{
	background:#1d618e;
	width:30%;
	height:40px;
	color:#fff;
	font-size:16px;
	line-height:26px;
	border:1px solid #1d618e;
	margin-bottom:30px;
}
.blue_btn:hover{
	background:#fff;
	color:#1d618e;
	border:1px solid #1d618e;
}
.blue_btn1{
	background:#1d618e;
	width:100%;
	height:40px;
	color:#fff;
	font-size:16px;
	line-height:26px;
	border:1px solid #1d618e;
	margin-bottom:30px;
}
.blue_btn1:hover{
	background:#2f99d3;
	color:#fff;
	border:1px solid #2f99d3;
}
.footer_text{width:100%;float:left;}
.footer_text p {font-family: 'Poppins', sans-serif;font-size: 12px;font-weight: 400;color: #215784;margin: 0px;padding: 0px;}
.footer_link{width:100%;float:left;}
ul.footer_link{width:100%;display:block;}
.footer_link li{width:auto;font-size: 12px;font-weight: 400;color: #215784;margin: 0px;padding: 0px;list-style:none;text-align:right;}
.footer_link li a{width:auto;font-size: 12px;font-weight: 400;color: #215784;margin: 0px;padding: 0px;text-decoration:none;outline:none;}

#partitioned {
  padding-left: 18px;
  letter-spacing: 32px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 42px 1px;
  background-repeat: repeat-x;
  background-position-x: 33px;
  width: 150px;
  min-width:170px;
  float: left;
  word-wrap: break-all !important;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    float: left;
    margin-left: 40px;
    padding: 5px 0;
}

#divInner{
  left: 0;
  position: sticky;
}

#divOuter{
  width:280px; 
  overflow: visible;
}
input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 50px 0 20px;
  font-size:14px;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }
 
 input#search-pro{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 50px 0 20px;
  font-size:14px;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }
 
 input#search-sto{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 50px 0 20px;
  font-size:14px;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 34px;
  height: 34px;
  top: -40px;
  right: 5px;
}



.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	font-size:11px;
    padding: 5px 5px; 
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
	text-align:center;
}
/*-------------------unnati mitra end------------------------*/

.mt_10{margin-top:10px;} .mt_20{margin-top:20px;} .mt_25{margin-top:25px;}  .mt_30{margin-top:30px;} .mt_40{margin-top:40px;} .mt_50{margin-top:50px;} .mt_60{margin-top:60px;}
.mb_10{margin-bottom:10px;} .mb_20{margin-bottom:20px;}  .mb_30{margin-bottom:30px;}  .mb_40{margin-bottom:40px;} .mb_50{margin-bottom:50px;} .mb_60{margin-bottom:60px;}
.-mt_20{margin-top:-20px;} .-mt_10{margin-top:-12px;} .-mt_5{margin-top:-5px;} 


.important_do{width:100%;float:left;margin-bottom:20px;text-align:jusitfy;}
.important_do h3{margin-top: 10px;border-bottom: 1px solid #efefef;margin-bottom: 10px;color:#111111;font-size:16px;}
.important_do p{font-size:13px;margin: 2px 0;color:#656565;text-align: justify;}
.overview ul{display:block;}
.overview li{list-style-type:disc;margin: 5px 0;font-size:13px;text-align:jusitfy;}

@media only screen and (max-width: 1024px){
.important_do h3{font-size:16px;}
.important_do p{font-size:13px;margin: 0 0 10px 0;}
.overview li{font-size:13px;}
.blue_btn{width:50%;} 
}
@media only screen and (max-width: 768px){
.important_do h3{font-size:16px;}
.important_do p{font-size:13px;margin: 0 0 10px 0;}
.overview li{font-size:13px;}
.blue_btn{width:50%;}
} 

 @media only screen and (min-device-width: 480px) and (max-device-width:767px) {
.important_do h3{font-size:16px;}
.important_do p{font-size:13px;margin: 0 0 10px 0;}
.overview li{font-size:13px;}
.blue_btn{width:75%; font-size:12px;}
.blue_btn:hover{color:#1d618e;}
.inner_space{width:100%;float:left;background:#fff;padding:0.5% 15px;}
.blue_btn {margin-bottom: 10px;}
.inner_space {padding: 0.5% 15px;}
}	

@media only screen and (max-width:480px){
.important_do h3{font-size:16px;}
.important_do p{font-size:13px;margin: 0 0 10px 0;}
.overview li{font-size:13px;}
.blue_btn{width:100%; font-size:12px;}
.blue_btn:hover{color:#1d618e;}
.inner_space {width: 100%;float: left;background: #fff;padding:36% 15px;}
.footer_text {
    width: 100%;
    float: left;
    text-align: center;
}
.footer_link li{text-align:center;}
#partitioned {
  padding-left: 15px;
  letter-spacing: 45px;
}
input#search-bar{
  padding: 0 50px 0 20px;
}
}
